<% content_for(:html_title) { @trainer.name } %>

<h1 class="title is-1"><%= @trainer.name %></h1>

<p class="title is-4">
  <% if @trainer.gender == "Male" %>
    Gender: <span class="male-text"><%= @trainer.gender %></span>
  <% else %>
    Gender: <span class="female-text"><%= @trainer.gender %></span>
  <% end %></p>
<p class="title is-4">Age: <%= @trainer.age %> years old</p>
<p class="title is-4">Location: <%= @region[@trainer.region_id.to_s].capitalize() %> region.</p>
<hr>

<p class="mt-5 title is-4">Pokemon Roster:</p>
<ul>
<% team = @trainer.trainer_pokemon.split(' ') %>
  <% team.each do |i| %>
<li><strong>> </strong><a href="/pokemons/<%= i %>"><%= i %></a></li>
  <% end %>
<ul>

<p class="mt-5"><%= link_to 'Back', trainers_path %></p>
